## Deliverable 3. Create a Travel Itinerary Map.

In [9]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [10]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_Vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,5,Kapaa,US,79.12,light rain,22.0752,-159.3190,"KAUAI BEACH HOUSE HOSTEL, LLC"
1,7,Bethel,US,81.16,clear sky,41.3712,-73.4140,Days Inn by Wyndham Bethel - Danbury
2,9,Saint-Donat-De-Montcalm,CA,70.84,scattered clouds,46.3187,-74.2219,"Le Fleuron, Motels & Suites"
3,10,Puerto Penasco,MX,87.91,overcast clouds,31.3167,-113.5333,Peñasco Del Sol Hotel and Conference Center
4,17,Galesong,ID,73.42,scattered clouds,-5.3166,119.3661,Wisata Pantai Bintang Galesong

In [15]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_content = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_content.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [17]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
GB_itinerary_df = vacation_df.loc[(vacation_df['Country'] =='GB')]
GB_itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
35,86,Penzance,GB,70.81,light rain,50.1186,-5.5371,The Old Coastguard
114,313,Ayr,GB,80.58,clear sky,55.4627,-4.6339,Western House Hotel
139,355,Horsham,GB,75.31,scattered clouds,51.0640,-0.3272,Fullers Cottage
240,592,Northam,GB,78.15,overcast clouds,51.0333,-4.2167,Tarka Trail Camping

In [21]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[114]
vacation_end = vacation_df.loc[114]
vacation_stop1 = vacation_df.loc[240]
vacation_stop2 = vacation_df.loc[35] 
vacation_stop3 = vacation_df.loc[139]

In [28]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
GB_coord_list = list(zip(GB_itinerary_df['Lat'], GB_itinerary_df['Lng']))
GB_coord_list

[(50.1186, -5.5371), (55.4627, -4.6339), (51.064, -0.3272), (51.0333, -4.2167)]

In [29]:
start = (55.4627, -4.6339)
end = (55.4627, -4.6339)
stop1 = (51.0333, -4.2167)
stop2 = (50.1186, -5.5371)
stop3 = (51.064, -0.3272)

In [33]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
aroundGB = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(aroundGB)
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([GB_itinerary_df],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,86,Penzance,GB,70.81,light rain,50.1186,-5.5371,The Old Coastguard
1,313,Ayr,GB,80.58,clear sky,55.4627,-4.6339,Western House Hotel
2,355,Horsham,GB,75.31,scattered clouds,51.0640,-0.3272,Fullers Cottage
3,592,Northam,GB,78.15,overcast clouds,51.0333,-4.2167,Tarka Trail Camping

In [37]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [54]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(54.0, 1.0), zoom_level=6.2)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))